<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <EnableADPublish>false</EnableADPublish>
    <ADDirectoryAccessLevel>0</ADDirectoryAccessLevel>
    <ADDomain>hallojsan.onmicrosoft.com</ADDomain>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://crmlabapi.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>crmlabapi.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CRMLabAPI</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>False</EnableMSDeployBackup>
    <UserName>$CRMLabAPI</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects>
        <ObjectGroup Name="crm" Order="1" Enabled="False">
          <Destination Path="" />
          <Object Type="DbDacFx">
            <PreSource Path="Url=https://hallojsan.crm4.dynamics.com; Username=andreas@hallojsan.onmicrosoft.com; Password=Kalleanka9;" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\crm_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Url=https://hallojsan.crm4.dynamics.com; Username=andreas@hallojsan.onmicrosoft.com; Password=Kalleanka9;" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
    <ADAppIDUri>https://hallojsan.onmicrosoft.com/WebApp-crmlabapi.azurewebsites.net</ADAppIDUri>
    <ADDestinationProvisioned>True</ADDestinationProvisioned>
    <ADWebAPIBased>true</ADWebAPIBased>
    <ADClientAPPID>7f194a35-b08e-471e-a541-438572396a8e</ADClientAPPID>
    <ADClientPassword>HwgatmCtabATi+jBV2K5NMw/XdV9fTtwcS32GoCuPzM=</ADClientPassword>
    <ADReplyUrl>https://crmlabapi.azurewebsites.net/</ADReplyUrl>
    <ADIssuer />
    <ADTenantId>b570ede0-9912-4b47-9cdb-5e0580e01ce4</ADTenantId>
    <ADPostLogoutRedirectUri />
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)crm-Web.config Connection String" />
  </ItemGroup>
</Project>